In [1]:
import pandas as pd

In [2]:
csv_file = "data/DataBreaches(2004-2021).csv"

df = pd.read_csv(csv_file)

df_modified = df.copy()# Creating a copy

In [3]:
# How many companies where hacked?
hacked = df_modified[df_modified["Method"]=="hacked"]
hacked["Entity"].nunique() # Nunique shows the amount of uniques per column

154

In [46]:
# How many organization types are there?
uniqueOrgs = len(df_modified["Organization type"].unique())
print("There are " + str(uniqueOrgs) + " unique organization types")

There are 54 unique organization types

In [56]:
# How may types of methods are there and what are those?
uniqueMethods = pd.DataFrame(df_modified["Method"].unique())
#df_modified[df_modified["Method"].unique()]
print("There are " + str(len(uniqueMethods)) + " unique methods")
uniqueMethods

There are 21 unique methods

                                                    0
0                                              hacked
1                                       poor security
2                                 lost / stolen media
3                                  inside job, hacked
4                              accidentally published
5                              lost / stolen computer
6                                 unsecured S3 bucket
7                                             unknown
8                                          inside job
9                               accidentally uploaded
10                             poor security / hacked
11                                    unprotected api
12                           poor security/inside job
13                   data exposed by misconfiguration
14                                 intentionally lost
15                     misconfiguration/poor security
16                                   rogue contractor
17                           improper setting, hacked
18  publicly accessible Amazon Web Services (AWS) ...
19                               accidentally exposed
20                                 social engineering

In [59]:
# Which organization type had the most breaches?
sumByOrg = df_modified.groupby("Organization type")["Records"].sum().reset_index()
# When grouping you need to specify by which column you will group, later which columns you want and then specify which aggregation statement you will perform on the query

sumByOrg = sumByOrg.sort_values(by="Records", ascending = False)
sumByOrg.to_csv("sumByOrg.csv",index=0)

In [62]:
# Which organization type was breached the least?
leastBreachedType = sumByOrg.sort_values(by="Records")

In [57]:
# Which web company was breached the most?
webMostBreached = df_modified[df_modified["Organization type"]=="web"].sort_values(by="Records",ascending=False)

In [28]:
# How many records were breached for the most breached organization type (web) by method
webMostRecordsbyMethod = df_modified[df_modified["Organization type"]=="web"].sort_values(by="Records",ascending=False).groupby("Method")["Records"].sum().reset_index().sort_values("Records",ascending=False)

In [63]:
# Which advertising companies were breached?
df_modified[df_modified["Organization type"]=="advertising"]

                           Entity  Year  Records Organization type  Method
6  AerServ (subsidiary of InMobi)  2018    75000       advertising  hacked

In [64]:
# Which company had the most records breached?
mostOrgBreached = df_modified.sort_values(by="Records",ascending=False)
mostOrgBreached.head(1)

    Entity  Year     Records Organization type  Method
283  Yahoo  2013  3000000000               web  hacked

In [69]:
# Which company had the least records breached?
leastBreachedOrg = df_modified.sort_values("Records").head(1)
leastBreachedOrg

              Entity  Year  Records Organization type      Method
125  Inuvik hospital  2016     6700        healthcare  inside job

In [30]:
# Which year was the worst for breaches?
recordsbyYear = df_modified.groupby("Year")["Records"].sum().reset_index().sort_values(by="Records",ascending=0).head(5)
recordsbyYear

    Year     Records
17  2019  3824900831
9   2013  3469434877
15  2018  1367849832
18  2020  1251422083
10  2014   850978000

In [78]:
# Which year had the least breaches? (removing ambigous years)
df_mod1 = df_modified[df_modified["Year"]!="2014 and 2015"]
df_mod1 = df_mod1[df_mod1["Year"]!="2018-2019"]
df_mod1.groupby("Year")["Records"].sum().reset_index().sort_values("Records")

    Year     Records
0   2004      510000
6   2010    15980476
1   2005    46825000
2   2006    51260000
4   2008    69066500
11  2015   121654459
3   2007   153286405
7   2011   227788137
17  2021   250189232
13  2017   254766877
5   2009   255467987
8   2012   428839635
12  2016   540563111
10  2014   850978000
16  2020  1251422083
14  2018  1367849832
9   2013  3469434877
15  2019  3824900831

In [31]:
# How many companies were breached by method?
df_modified["Method"].value_counts().reset_index()

                                                index  Method
0                                              hacked     156
1                                       poor security      37
2                                 lost / stolen media      32
3                                          inside job      18
4                              accidentally published      17
5                              lost / stolen computer      15
6                                             unknown       4
7                            improper setting, hacked       2
8                            poor security/inside job       2
9                                  intentionally lost       1
10                               accidentally exposed       1
11  publicly accessible Amazon Web Services (AWS) ...       1
12                                   rogue contractor       1
13                     misconfiguration/poor security       1
14                             poor security / hacked       1
15                   data exposed by misconfiguration       1
16                                    unprotected api       1
17                              accidentally uploaded       1
18                                unsecured S3 bucket       1
19                                 inside job, hacked       1
20                                 social engineering       1

In [9]:
# Replacing the "poor security" inconsistency
df_modified["Method"] = df_modified["Method"].str.replace("Poor security","poor security")

In [10]:
# Which company(s) had accidental exposure as a breach?
df_modified[df_modified["Method"]=="accidentally exposed"]

           Entity  Year  Records Organization type                Method
270  Virgin Media  2020   900000    mobile carrier  accidentally exposed

In [35]:
# Did some companies had multiple breaches?
multipleBreaches = df_modified["Entity"].value_counts().reset_index()
multipleBreaches

                                    index  Entity
0                                Facebook       5
1                                     AOL       3
2                               Citigroup       3
3                                   Yahoo       2
4                           TD Ameritrade       2
..                                    ...     ...
272                             GS Caltex       1
273  Hannaford Brothers Supermarket Chain       1
274                             HauteLook       1
275                            Health Net       1
276            Les Éditions Protégez-vous       1

[277 rows x 2 columns]

In [42]:
# What kind of breaches did Facebook had, when were those breaches and how many records were breached in total?
facebook = df_modified[df_modified["Entity"]=="Facebook"]
recordsFacebook = sum(facebook["Records"])

In [44]:
# Which company had the most breaches because of poor security?
df_modified[df_modified["Method"]=="poor security"].sort_values("Records",ascending=False)

,Entity,Year,Records,Organization type,Method
98,First American Corporation,2019,885000000,financial service company,poor security
92,Facebook,2019,540000000,social network,poor security
87,Exactis,2018,340000000,data broker,poor security
8,Airtel,2019,320000000,telecommunications,poor security
159,MongoDB,2019,275000000,tech,poor security
94,Facebook,2019,267000000,social network,poor security
158,MongoDB,2019,202000000,tech,poor security
103,Unknown,2020,201000000,personal and demographic data about residents ...,poor security
123,Instagram,2020,200000000,social network,poor security
85,Equifax,2017,163119000,"financial, credit reporting",poor security
229,Tetrad,2020,120000000,market analysis,poor security
81,ElasticSearch,2019,108000000,tech,poor security
258,United States Postal Service,2018,60000000,government,poor security
91,Facebook,2018,50000000,social network,poor security
233,TikTok,2020,42000000,social media,poor security
188,Quest Diagnostics,2019,11900000,Clinical Laboratory,poor security
4,Adobe Inc.,2019,7500000,tech,poor security
288,YouTube,2020,4000000,social media,poor security
30,Bell Canada,2017,1900000,telecoms,poor security
117,Health Sciences Authority (Singapore),2019,808000,healthcare,poor security
203,Slack,2015,500000,tech,poor security
109,Google Plus,2018,500000,social network,poor security
293,National Health Information Center (NCZI) of S...,2020,391250,healthcare,poor security
204,SlickWraps,2020,377428,phone accessories,poor security
84,Emory Healthcare,2012,315000,healthcare,poor security
11,Ancestry.com,2021,300000,web,poor security
122,Honda Canada,2011,283000,retail,poor security
147,Massachusetts Government,2011,210000,government,poor security
2,Accendo Insurance Co.,2020,175350,healthcare,poor security
55,Citigroup,2013,150000,financial,poor security
25,Automatic Data Processing,2005,125000,financial,poor security
20,Apple Health Medicaid,2021,91000,healthcare,poor security
38,BMO and Simplii,2018,90000,banking,poor security
163,Mozilla,2014,76000,web,poor security
170,New York Taxis,2014,52000,transport,poor security
242,Uber,2014,50000,tech,poor security
68,US Department of Homeland Security,2016,30000,government,poor security